@use "../../../sassStyles/_variables" as v;
@use "../../../sassStyles/_mixins" as m;

.social-link {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  img {
    transition: fill 0.3s ease-in-out;
  }

  p {
    margin: 0;
    padding-left: 8px;
    display: inline-block;
    color: v.$highlight1;
    transition: color 0.3s ease-in-out;

    @include m.smMinBreakPoint {
      color: v.$secondary2
    }
  }

  &:hover p {
    color: v.$highlight1;
  }
}

//Icons Disabled
.social-link--disabled {
  pointer-events: none;
  cursor: default;

  .social-svg--disabled{
    fill: v.$primary;
  }

}



//Sidebar Icons
.social-link--sidebar img {

  width: 22px;

}


//Mobile Hero Icons
.social-link--mobile-hero img {
  height: 25px;
}


//Mobile Nav Icons
.social-link--mobile-nav img {
  height: 30px;
  width: 100%;
}


//Contact Icons
.social-link--contact {

  .social-svg--contact {
    fill: v.$highlight1;
    transition: fill 0.3s ease-in-out;

    @include m.smMinBreakPoint {
      color: v.$secondary2
    }
  }

  &:hover .social-svg--contact {
    fill: v.$highlight1;
  }

}
